/* Nunito Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --main-color: #6ab04c;
    --black: #1e3932;
    --white: #fff;
    --light-color: #a0c4a5;
    --light-bg: #f0ece2;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

body {
    background-color: var(--white);
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--black);
}

.header::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 1rem;
    background-color: var(--main-color);
    width: 0%;
    z-index: 1;
    animation: scrollIndicator linear;
    animation-timeline: scroll();
}

@keyframes scrollIndicator {
    to {
        width: 100%;
    }
}

.header .flex {
    padding: 2.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    color: var(--main-color);
    font-size: 2.5rem;
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--light-color);
}

.header .flex .navbar a:hover {
    color: var(--white);
}

.header .flex .icons input[type="checkbox"] {
    display: none;
}

.header .flex .icons a,
.header .flex .icons label {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    color: var(--white);
}

.header .flex .icons a:hover,
.header .flex .icons label:hover {
    color: var(--main-color);
}

.header .flex .icons label[for="menuBtn"] {
    display: none;
}

/* Responsive Styles For Header Section */
@media screen and (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
    .header .flex .icons label[for="menuBtn"] {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--black);
        padding: 2rem 3rem;
        border-top: .1rem solid var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar a {
        display: block;
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    body:has(#menuBtn:checked) .header .flex .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media screen and (max-width:450px) {
    html {
        font-size: 50%;
    }
}

/* Home Section */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home-bg.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box img {
    width: 120px;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: var(--white);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--main-color);
}

/* Responsive Styles For Home Section */
@media (max-width: 768px) {
    .text-box h1 {
        font-size: 48px;
    }

    .text-box p {
        font-size: 18px;
    }

    .btn {
        padding: 10px 28px;
        font-size: 12px;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .text-box h1 {
        font-size: 36px;
    }

    .text-box p {
        font-size: 16px;
    }

    .btn {
        padding: 8px 24px;
        font-size: 11px;
    }
    .home {
        background-size: contain; /* Background image ko adjust karega */
    }
}

/* About Section */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 40rem;
    padding: 3rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin-left: -5rem;
    background-color: var(--white);
}

.about .row .content .btn {
    background-color: var(--main-color);
}

.about .row .content .btn:hover {
    background-color: var(--black);
}

.about .row .content h3 {
    font-size: clamp(2rem, 3rem, 4rem);
    color: var(--main-color);
    margin-bottom: .5rem;
    font-weight: normal;
}

.about .row .content p {
    line-height: 1.8;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: .5rem 0;
}

/* Responsive Styles For About Section */
@media screen and (max-width:1200px) {
    .about .row .content {
        margin: 0;
        padding: 2.5rem;
    }
}

@media screen and (max-width:991px) {
    .about .row .content {
        margin: 0;
        padding: 2rem;
    }

    .about .row .image {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px) {
    .about .row .content {
        padding: 1.5rem;
    }

    .about .row .content h3 {
        font-size: clamp(1.8rem, 2.5rem, 3rem);
    }

    .about .row .content p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:450px) {
    .about .row .content {
        padding: 1rem;
    }

    .about .row .content p {
        font-size: 1.2rem;
    }

    .about .row .content h3 {
        font-size: 1.8rem;
    }
}

/* Classes Section */
.heading {
    font-size: 3.5rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 2rem;
}

.classes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.classes .box-container .box {
    text-align: center;
}

.classes .box-container .box img {
    height: 25rem;
    border-radius: .5rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    filter: grayscale(1);
    cursor: pointer;
}

.classes .box-container .box img:hover {
    filter: grayscale(0);
}

.classes .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

/* Services Section */
.services .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.services .box-container .box {
    flex: 1 1 40rem;
    padding: 1rem;
}

.services .box-container .box:nth-child(odd) {
    text-align: right;
}

.services .box-container .box img {
    height: 20rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.services .box-container .box:hover img {
    transform: translateY(-1rem);
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.services .box-container .box:hover h3 {
    color: var(--main-color);
}

.services .box-container .box p {
    line-height: 1.8;
    font-size: 1.6rem;
    color: var(--light-color);
}

/* Prices Section */
.prices {
    background-color: var(--light-bg);
}

.prices .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.prices .box-container .box {
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.prices .box-container .box .btn {
    background-color: var(--main-color);
}

.prices .box-container .box .btn:hover {
    background-color: var(--black);
}

.prices .box-container .box .title {
    font-size: 2.2rem;
    color: var(--black);
    margin-bottom: .5rem;
}

.prices .box-container .box .list {
    padding: 1rem 0;
}

.prices .box-container .box .list p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.prices .box-container .box .amount {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .2rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
    border: var(--border);
}

.prices .box-container .box .amount span {
    font-size: 2rem;
    color: var(--light-color);
}

.prices .box-container .box .amount p {
    font-size: 3rem;
    color: var(--black);
}

.prices .box-container .box .btn {
    display: block;
}

/* Reviews Section */
.reviews input[type='radio'] {
    display: none;
}

.reviews .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px;
}

.reviews .row .content {
    flex: 1 1 40rem;
}

.reviews .row .content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.reviews .row .content p {
    line-height: 1.8;
    font-size: 1.8rem;
    color: var(--light-color);
}

.reviews .row .content .controls {
    text-align: center;
    margin-top: 2rem;
}

.reviews .row .content .controls label {
    display: inline-block;
    margin: 0 .3rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--light-color);
}

.reviews .row .content .controls label:hover {
    background-color: var(--main-color);
}

.reviews .row .box-container-1 {
    flex: 1 1 40rem;
    width: 50rem;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
}

.reviews .row .box-container-1 .box {
    flex: 1 0 100%;
    text-align: center;
    background-color: var(--light-bg);
    padding: 3rem 2rem;
}

.reviews .row .box-container-1 .box img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.reviews .row .box-container-1 .box h3 {
    font-size: 2rem;
    color: var(--black);
}

.reviews .row .box-container-1 .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.reviews .row .box-container-1 .box .stars {
    margin-top: 1rem;
}

.reviews .row .box-container-1 .box .stars i {
    font-size: 1.8rem;
    color: var(--main-color);
}

#r1:checked~.row .box-container-1 .box:first-child {
    margin-left: 0;
}

#r2:checked~.row .box-container-1 .box:first-child {
    margin-left: -100%;
}

#r3:checked~.row .box-container-1 .box:first-child {
    margin-left: -200%;
}

#r4:checked~.row .box-container-1 .box:first-child {
    margin-left: -300%;
}

#r1:checked~.row .content .controls label:nth-child(1),
#r2:checked~.row .content .controls label:nth-child(2),
#r3:checked~.row .content .controls label:nth-child(3),
#r4:checked~.row .content .controls label:nth-child(4) {
    background-color: var(--black);
}

/* Responsive Styles For Reviews Section */
@media (max-width: 768px) {
    .reviews .row .content {
        text-align: center;
    }

    .reviews .row .content h3 {
        font-size: 23px;

    }
}

/* Book Section */
.book {
    padding: 4rem 2rem;
    /* background-color: var(--light-bg); */
    text-align: center;
}

.book .heading {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 3rem;
}

.book .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.book .row img {
    height: 40rem;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.book .row img:hover {
    transform: scale(1.05);
}

/* Styling for the form */
.form {
    max-width: 100vw;
    margin: 0 auto;
    /* background-color: var(--white); */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form .flex {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form .input {
    flex: 1;
    min-width: 250px;
}

.form p {
    font-size: 1.6rem;
    color: var(--black);
    margin: 0.5rem;
    text-align: left;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--light-color);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--light-bg);
}

.form textarea {
    height: 10rem;
    resize: none;
}

.form input[type="submit"] {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: var(--black);
}

/* Blog Section */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.blogs .box-container .box .image {
    height: 40rem;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}

.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}

.blogs .box-container .box .image .info {
    position: relative;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: var(--white);
    border-radius: .5rem 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box:hover .image .info {
    bottom: 8rem;
}

.blogs .box-container .box .image .info a {
    font-size: 1.8rem;
}

.blogs .box-container .box .image .info a i {
    color: var(--main-color);
    margin-right: .8rem;
}

.blogs .box-container .box .image .info a span {
    color: var(--light-color);
}

.blogs .box-container .box .image .info a:hover span {
    color: var(--black);
}

.blogs .box-container .box .content {
    text-align: center;
    padding: 2rem;
}

.blogs .box-container .box .content .btn {
    background-color: var(--main-color);
}

.blogs .box-container .box .content .btn:hover {
    background-color: var(--black);
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .5rem;
}

.blogs .box-container .box .content p {
    font-size: 1rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Scroll Slide Section */
.scroll-slide {
    background-color: var(--light-bg);
    white-space: nowrap;
}

.scroll-slide .row {
    overflow: hidden;
}

.scroll-slide .row .col {
    display: inline-block;
    animation: slide 20s linear infinite;
}

.scroll-slide .row .col p {
    display: inline-block;
    font-size: 2rem;
    color: var(--light-color);
}

.scroll-slide .row .col p:hover {
    color: var(--black);
}

.scroll-slide .row .col i {
    font-size: 2rem;
    margin: 0.12rem;
    color: var(--light-color);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Footer Section */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.footer .box-container a {
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--light-color);
}

.footer .box-container a:hover {
    color: var(--black);
}

.footer .box-container a i {
    margin-right: 1rem;
    color: var(--main-color);
}

.footer .box-container a:hover i {
    margin-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding: 3rem 2rem;
    border-top: var(--border);
    background-color: var(--light-bg);
    color: var(--light-color);
    font-size: 2rem;
}

.footer .credit span {
    color: var(--black);
}
